In [2]:
# Importing libraries
import pandas as pd
import os

#### Remove duplicates and keep an ordered list

In [7]:
list_with_duplicates = ['a','b','a','c','b','a']
# We can use set, to remove duplicates but this dont keep the list ordered
with_set = list(set(list_with_duplicates))
# Instead we can create a dictionary and use our list as the keys, and since these have to be unique duplicates are removed and order is maintained
with_dict = dict.fromkeys(list_with_duplicates)
print(with_dict)
# Since the list constructor also take dictionaries we can use .list() and our list without duplicates is ready 
with_dict = list(dict.fromkeys(list_with_duplicates))
print(with_dict)

{'a': None, 'b': None, 'c': None}
['a', 'b', 'c']

### Look for values in a list based on a value in another column | similar to VLOOKUP

In [8]:
sample_data = {'Name': ['Alice', 'Bob', 'John', 'Eve'], 
               'Grade': ['A', 'B', 'C', 'B']}

sample_df = pd.DataFrame(sample_data)
print(sample_df)
print("-"*20)

# we use .loc[] to look fo the specific value and then the .iloc[0] to select that value from the dataframe
variable_name = sample_df.loc[sample_df['Name'] == 'John', 'Grade'].iloc[0]
print(variable_name)
print("-"*20)

# but also make a loop  make a loop if lets say in this case we have a list of <names> and iterating thru names
names = ['Bob', 'John']
for name in names:
    variable_name = sample_df.loc[sample_df['Name'] == 'John', 'Grade'].iloc[0]
    print(f'{name} {variable_name}')
print("-"*20)

    Name Grade
0  Alice     A
1    Bob     B
2   John     C
3    Eve     B
--------------------
C
--------------------
Bob C
John C
--------------------

### Look the most frequent value in a list

In [9]:
list_int = [1, 2, 1, 3, 4, 1, 2, 4, 1]
list_str = ['juan','maria','juan','roberto','maria','juan','jose','max','maria','max','juan']

# Using the max() in a list in combination with a key where the max can be calculated
frequent_int = max(list_int, key= list_int.count)
frequent_str = max(set(list_str), key= list_str.count) #we can make a set out of the list to optimize it 
print(frequent_int)
print(frequent_str)

1
juan

### Add multiple characters to a f-string, left, right, around. works fine to add leading zeros

In [3]:
test = 'This is a test string'
print(f'{test:=<50}') # add to the right
print(f'{test:=>50}') # add to the left
print(f'{test:=^50}') # add all around

This is a test string=============================
=============================This is a test string
==============This is a test string===============

### Get a random value from a list everytime you run

In [6]:
from random import choice

items = ['a', 'b', 'c', 'd', 'e', 'f']
print(choice(items))

c

### Unpack a column that contains a list into multiple rows and dinamically populate the

In [12]:
sample_data = pd.DataFrame({'Alumni': ['Alice', 'Bob', 'John', 'Eve'], 
               'Teachers': [['Juan, Marian, roberto, carlos'], ['Raul, Leida, Ramon, Karim'], ['Simone, Monika, roberto, carlos'], ['Juan, Marian, roberto, carlos']]})

sample_unpack = sample_data.explode('Teachers', ignore_index = True ) # Using .explode to 'unpack' all the values in the message_track_uris list
sample_unpack.head()

  Alumni                         Teachers
0  Alice    Juan, Marian, roberto, carlos
1    Bob        Raul, Leida, Ramon, Karim
2   John  Simone, Monika, roberto, carlos
3    Eve    Juan, Marian, roberto, carlos

### Use a wildcard to retrieve all files in a directory

In [20]:
import glob 

data_path = os.path.expanduser(f"~\\Desktop")

wildcard_list = glob.glob(f'{data_path}\\d*') 

print(wildcard_list)

['C:\\Users\\jaimech\\Desktop\\DBeaver.lnk',
 'C:\\Users\\jaimech\\Desktop\\desktop.ini',
 'C:\\Users\\jaimech\\Desktop\\Docker Desktop.lnk']

### Delete multiple columns from a dataframe

In [2]:
import pandas as pd

dataframe = pd.DataFrame({
                        'A': [1, 2, 3, 4, 5],
                        'B': ['a', 'b', 'c', 'd', 'e'],
                        'C': [True, False, True, False, True],
                        'D': [0.1, 0.2, 0.3, 0.4, 0.5],
                        'E': ['foo', 'bar', 'baz', 'qux', 'quux']
                        })

df_without = dataframe.drop(['B', 'D', 'E'], axis=1)
df_without

   A      C
0  1   True
1  2  False
2  3   True
3  4  False
4  5   True

### make a boolean field, based on another with nulls

In [8]:
import pandas as pd

dataframe = pd.DataFrame({
                        'column_nulls': ['a', None, 'c', None, None, 'f', 'g', 'h', None, 'j', None,'k'],
                        'column_empty_values': ['a', '', 'c', '', '', 'f', 'g', 'h', '', 'j', '','k']
                        })
##
dataframe['boolean based on nulls'] = dataframe['column_nulls'].apply(lambda x: False if pd.isnull(x) else True)

## 
dataframe['boolean based on empty'] = dataframe['column_empty_values'].apply(lambda x: False if len(x.strip()) == 0 else True)

dataframe[['column_nulls','boolean based on nulls','column_empty_values','boolean based on empty']]

,column_nulls,boolean based on nulls,column_empty_values,boolean based on empty
0,a,True,a,True
1,None,False,,False
2,c,True,c,True
3,None,False,,False
4,None,False,,False
5,f,True,f,True
6,g,True,g,True
7,h,True,h,True
8,None,False,,False
9,j,True,j,True
10,None,False,,False
11,k,True,k,True

### Adding a timestamp (current time) to a dataframe

In [11]:
import pandas as pd
import time 

dataframe = pd.DataFrame({
                        'column_nulls': ['a', None, 'c', None, None],
                        'column_empty_values': ['a', '', 'c', '', '']
                        })


dataframe['current_time'] = pd.to_datetime(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()), errors='coerce')
dataframe

  column_nulls column_empty_values        extract_time
0            a                   a 2024-05-10 14:27:00
1         None                     2024-05-10 14:27:00
2            c                   c 2024-05-10 14:27:00
3         None                     2024-05-10 14:27:00
4         None                     2024-05-10 14:27:00

### Making a timestamp out of a object type

In [15]:
import pandas as pd

data = {
    'created': ['2024-04-19T12:36:54Z', '2024-04-20T08:45:30Z'],
    ' ': ['',''],
    'updated': ['2024-04-19T15:20:10Z', '2024-04-21T10:30:45Z'],
    '  ': ['',''],
    'deleted': ['2024-04-19T15:20:10Z', '2024-04-21T10:30:45Z']
}

df = pd.DataFrame(data)

# Convert timestamp columns to datetime
df['created'] = pd.to_datetime(df['created'])
# Using .dt.tz_localize(None) to delete the Timezone 
df['updated'] = pd.to_datetime(df['updated']).dt.tz_localize(None)
# We use .dt.tz_convert('CET') to change the time zone
df['deleted'] = pd.to_datetime(df['deleted']).dt.tz_convert('CET')
# If the field doesn't have a predetermined timezone first we need to localize it with .dt.tz_localize(None)
#df['updated'] = pd.to_datetime(df['updated']).dt.tz_localize('UTC').dt.tz_convert('CET')




# Print DataFrame
print(df)

                    created               updated                      deleted
0 2024-04-19 12:36:54+00:00   2024-04-19 15:20:10    2024-04-19 17:20:10+02:00
1 2024-04-20 08:45:30+00:00   2024-04-21 10:30:45    2024-04-21 12:30:45+02:00

### Grouping and counting data in dataframes

In [2]:
import pandas as pd

# Sample DataFrame
data = {
    'name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'Alice'],
    'id': [1, 2, 3, 4, 5, 6]
}

df = pd.DataFrame(data)

# Group by 'name' and aggregate 'calc_id' by counting its occurrences
result_df = df.groupby('name').agg({'id': 'count'}).reset_index()

# Display the result DataFrame
print(result_df)

      name  id
0    Alice   3
1      Bob   2
2  Charlie   1